@page "/listadoeventos"
@rendermode InteractiveServer //Es necesario si queremos que el componente sea interactivo
@inject EventoDeportivoListarUseCase EventoDeportivoListarUseCase
@inject EventoDeportivoModificacionUseCase EventoDeportivoModificacionUseCase
@inject EventoDeportivoBajaUseCase EventoDeportivoBajaUseCase
@inject ServicioLogin servicioLogin
@inject NavigationManager Navegador

<h3>Listado Eventos</h3>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th> 
            <th>Descripcion</th> 
            <th>Fecha y Hora de Inicio</th>
            <th>Duracion en Horas</th>
            <th>Cupo Maximo</th>
            <th>Responsable</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var evento in _lista) // Utilizamos la @ para cambiar de código HTML a C#
        {
            <tr>
                <td>@evento.Id</td>
                <td>@evento.Nombre</td>
                <td>@evento.Descripcion</td>
                <td>@evento.FechaHoraInicio</td>
                <td>@evento.DuracionHoras</td>
                <td>@evento.CupoMaximo</td>
                <td>@evento.ResponsableId</td>
                @if( servicioLogin.User.Id == 1) {
                    <td>
                        <button class="btn btn-outline-primary" @onclick="()=>Editar(evento)">Editar</button>
                        <button class="btn btn-outline-danger" @onclick="()=>ConfirmarEliminacion(evento)">Eliminar</button>
                        <DialogoConfirmacion @ref=dialogo OnConfirmado="Eliminar" Mensaje="@_mensajeDialogo"/>
                    </td>
                }
            </tr>    
        }
    </tbody>
</table>

@code { // Sección de código C#

    List<EventoDeportivo> _lista = new List<EventoDeportivo>();
    [Parameter]
    public bool SoloLectura {get; set;} = false; 
     
    protected override void OnInitialized()
    {
        _lista = EventoDeportivoListarUseCase.Ejecutar();
    }
    DialogoConfirmacion dialogo = null!;
    EventoDeportivo? _EliminarEvento = null;
    string _mensajeDialogo = string.Empty;
    private void Editar(EventoDeportivo evento)
    {
        Navegador.NavigateTo($"evento/{evento.Id}");
    }
    private void ConfirmarEliminacion(EventoDeportivo evento)
    {
        _EliminarEvento = evento;
        _mensajeDialogo = $"¿Desea eliminar el evento {evento.Id} {evento.Nombre}?";
        dialogo.Mostrar();
    }
    private void Eliminar()
    {
        if(_EliminarEvento != null){
            EventoDeportivoBajaUseCase.Ejecutar(_EliminarEvento.Id, servicioLogin.User.Id); //En lugar de 1, debería pasarle el id del usuario actual.
            _lista = EventoDeportivoListarUseCase.Ejecutar(); //Se actualiza la lista de eventos
        }
        
    }
}
