@page "/listadopersonas"
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime
@inject NavigationManager Navegador
@inject PersonaListarUseCase personaListarUseCase
@inject PersonaBajaUseCase personaBajaUseCase

<h2>Listado de Personas</h2>

<div class="table-responsive-lg">
  <table class="table">
    <thead>
        <tr class="table-info">
            <th >#</th>
            <th>DNI</th>
            <th> Nombre</th>
            <th>Apellido</th>
            <th> Email</th>
            <th> Telefono</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var persona in _listaper ?? new List<Persona>())
        {
            <tr class="table-info">
                <td> @persona.Id </td>
                <td>@persona.Dni</td>
                <td>@persona.Nombre</td>
                <td>@persona.Apellido</td>
                <td>@persona.Email</td>
                <td>@persona.Telefono</td>
                <td class="button-container">    
                    <button class="btn btn-primary" @onclick="()=>ModificarPersona(persona)">Editar</button>
                    <button class="btn btn-danger" @onclick="()=>ConfirmarEliminacion(persona)">Eliminar</button>
                    <DialogoConfirmacion @ref="dialogo" OnConfirmado="Eliminar" Mensaje="@_mensaje"/>          
                </td>
            </tr>
        }
    </tbody>
  </table>
</div>
@code{
    public List<Persona> _listaper = new List<Persona>();
    protected override void OnInitialized(){
        _listaper = personaListarUseCase.Ejecutar() ?? new List<Persona>();
    }
    DialogoConfirmacion dialogo = null!;
    Persona? personaElim = null;
    string _mensaje = string.Empty;
    
    private void ConfirmarEliminacion(Persona persona){

        personaElim = persona;
        _mensaje= $"¿Seguro que desea eliminar a {persona.Nombre} {persona.Apellido}?" ;
        
        dialogo.Mostrar();
    }
    private void Eliminar(){
        
        if(personaElim != null){
            personaBajaUseCase.Ejecutar(personaElim.Id, 1);
            _listaper = personaListarUseCase.Ejecutar();
        }
        
        
    }
    void ModificarPersona(Persona persona){
        Navegador.NavigateTo($"persona/{persona.Id}");
    }
}