@page "/listadousuarios"
@rendermode InteractiveServer
@inject UsuarioListarUseCase usuarioListarUseCase
@inject IJSRuntime JSRuntime;
@inject UsuarioBajaUseCase usuarioBajaUseCase
@inject NavigationManager Navegador

<h2>Listado de Usuarios</h2>
<DialogoConfirmacion @ref="dialogo" OnConfirmado="Eliminar" Mensaje="@Mensaje"/>
<div class="table-responsive-lg">
  <table class="table">
    <thead>
        <tr class="table-info">
            <th>#</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Permisos</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var usuario in listaus ){
            <tr class="table-info">
                <td>@usuario.Id </td>
                <td>@usuario.Nombre</td>
                <td>@usuario.Apellido</td>
                <td>@usuario.Email</td>
                <td>
                    @foreach(var permiso in usuario.Permisos){ 
                        <div>@permiso</div>
                    }
                </td>
                <td class="button-container">    
                        <button class="btn btn-outline-primary" @onclick="()=>ModificarUsuario(usuario)">Editar</button>
                        <button class="btn btn-outline-danger" @onclick="()=>ConfirmarEliminacion(usuario)">Eliminar</button>          
                </td>
            </tr>
        }
    </tbody>
  </table>
</div>

@code{
    List<Usuario> listaus = new List<Usuario>();
    protected override void OnInitialized(){
        listaus = usuarioListarUseCase.Ejecutar();   
    }
    DialogoConfirmacion dialogo =null!;
    Usuario? _usEliminar = null;
    string Mensaje=string.Empty;
    private void ConfirmarEliminacion(Usuario usuario){
        
        _usEliminar = usuario;
        Mensaje = $"Desea Eliminar al usuario {usuario.Nombre} {usuario.Apellido }?";
        dialogo.Mostrar();
    }
    private void Eliminar(){
        if(_usEliminar !=null){
            usuarioBajaUseCase.Ejecutar(_usEliminar.Id, 1);
            listaus = usuarioListarUseCase.Ejecutar();
        }
    }
    void ModificarUsuario(Usuario usuario){
        Navegador.NavigateTo($"usuario/{usuario.Id}");
    }
}